nav {
    background-color: #6495ED;
    padding: 10px;
}

ul {
    list-style: none;
    margin: 20;
    padding: 0;
    display: flex;
}

li {
    display: inline-block;
    
    border-radius: 5px;
   padding: 5px;
   margin-left: 15px;

}

a {
    color: white;
    padding: 20px;
}

a:hover {
    color: #0000FF;
}

